.user {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.avatar {
    width: 120px;
    height: 120px;
}

.info {
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 10fr 2fr;
    grid-template-areas:
            "name location"
            "status location ";
    margin-right: 150px;
    border: 2px solid black;
}

.name {
    margin-left: 10px;
    margin-top: 10px;
    grid-area: name;
    /*text-align: start;*/
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    grid-area: location;
    /*border: 2px solid red;*/
}

.status {
    margin-left: 10px;
    grid-area: status;


}