.nav {
    grid-area: n;
    background-color: #A9A9A9;
}

.item {
    margin-left: 40px;
    margin-top: 10px;
}

.item a {
    text-decoration: none;
    color: royalblue;
}

.item a:hover {
    font-weight: bold;
}

.item a.activeLink {
    font-weight: bold;
}