.info {
    display: grid;
    grid-template-columns: 2fr 10fr;
    align-items: start;
    margin-bottom: 5px;

}

.info img {
    margin-left: 15px;
    border-radius: 50%;
    width: 150px;
    margin-top: 5px;
}