.app-wrapper {
    margin: 0 auto;
    width: 1366px;
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 170px auto;
    grid-gap: 3px;
}
*:focus {
    outline: none;
}


.app-wrapper-content {
    grid-area: c;
    background-color: #414761;

}





